body{
font-family:'Open Sans', sans-serif;
}
body.notes{
margin-bottom:50%;
}
h4{
margin-top:-5px;
}
.b {
float:right; 
font-size:12pt; 
color:#fff; 
padding:5px 10px
}
.b a {
color: #666;
}
.b a:hover{
color: #d56
}
.h {
font-size:12pt; 
color:#666;
margin-bottom:12px; 
border-bottom:1px #999 solid; 
padding:5px 10px;

background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top, #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#f1f1f1), color-stop(51%,#e1e1e1), color-stop(100%,#f6f6f6)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* IE10+ */
background: linear-gradient(to bottom, #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */

}
.t {
font-size: 12pt;
color:#000;
}
.r {
font-size: 24pt;
color:#999;
text-decoration:none;
padding-left:40px;
}
.r:hover{
color: #d56;
}