body {
	margin: 0;
	padding: 0;
	animation: color-repeater 30s linear infinite;
	overflow: hidden;
	font-family: Arial, "inter";
	box-sizing: border-box;
}

@keyframes color-repeater {
	0% {
		background: hsl(142, 59%, 90%);
	}
	25% {
		background: hsl(45, 98%, 88%);
	}
	50% {
		background: hsl(4, 83%, 90%);
	}
	75% {
		background: hsl(217, 88%, 88%);
	}
	100% {
		background: hsl(142, 59%, 87%);
	}
}

.bug-playground {
	height: 100vh;
	width: 100vw;
	/* background: #ccc; */
}

.bug {
	position: fixed;
	blend-mode: multiply;
	background-blend-mode: multiply;
}

.bug {
	animation: random(-5, 5) deg infinite linear;
}

.bug.a {
	top: -100px;
	right: 100px;
	width: 150px;
	height: auto;
	animation: spin 60s infinite;
	blend-mode: multiply;
	background-blend-mode: multiply;
}
.bug.b {
	width: 35px;
	height: auto;
	top: -10px;
	left: 10px;
	background-blend-mode: multiply;
	animation: spin 18s ease infinite;
}
.bug.c {
	width: 35px;
	height: auto;
	bottom: -200px;
	left: 100px;
	background-blend-mode: multiply;
	animation: spin 10s ease infinite;
}

.bug.d {
	top: 35px;
	left: -100px;
	width: 40px;
	height: auto;
	blend-mode: multiply;
	background-blend-mode: multiply;
	animation: spin 30s ease infinite;
}

.bug.e {
	width: 35px;
	height: auto;
	top: 10px;
	right: -10px;
	background-blend-mode: multiply;
	animation: spin 50s ease infinite;
}
.bug.f {
	width: 35px;
	height: auto;
	top: 200px;
	right: -100px;
	blend-mode: multiply;
	background-blend-mode: multiply;
	background-blend-mode: multiply;
	animation: spin 40s ease infinite;
}

.bug.g {
	width: 35px;
	height: auto;
	bottom: -50px;
	left: 100px;
	background-blend-mode: multiply;
	animation: spin 120s ease infinite;
}

@-webkit-keyframes spin {
	100% {
		transform: rotate(360deg);
	}
}
@keyframes spin {
	100% {
		transform: rotate(360deg);
	}
}

/* .app-header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: transparent;
} */

/* TYPOGRAPHY */
@font-face {
	font-family: "inter";
	src: url("../fonts/inter.eot");
	src: url("../fonts/inter.eot?#iefix") format("embedded-opentype"),
		url("../fonts/inter.woff") format("woff"),
		url("../fonts/inter.ttf") format("truetype"),
		url("../fonts/inter.svg#inter") format("svg");
}
.app {
	overflow: hidden;
}

.app-heading-wrap {
	text-transform: uppercase;
	line-height: 1;
	font-weight: 900;
	width: 120vw;
	height: 8.5vh;
	white-space: nowrap;
	overflow: hidden;
	position: fixed;
	z-index: 3;
}

.app-heading-wrap.first-part {
	top: 0;
	transform: translateX(-10vw) translateY(10vh) rotate(-23deg);
}

.app-heading-wrap.second-part {
	top: 35%;
	transform: translateX(-10vw) translateY(10vh) rotate(15deg);
}

.app-heading-wrap.third-part {
	top: 75%;
}

.app-heading {
	font-size: 8vh;
	display: inline-block;
	padding-left: 100%;
	text-transform: uppercase;
	margin-block-end: 0;
	margin-block-start: 0;
	margin-bottom: 0;
	height: 100%;
	color: #fff;
	text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000,
		2px 2px 0 #000;
	letter-spacing: 0.12em;
	word-spacing: 0.2em;
}

@supports ((text-stroke: 2px black) or (-webkit-text-stroke: 2px black)) {
	.app-heading {
		color: transparent !important;
		-webkit-text-stroke: 2px black;
		text-stroke: 2px black;
		text-shadow: none;
	}
}

.app-heading.top-right {
	animation: marquee-first 8s linear;
}

.app-heading.mid-left {
	animation: marquee-second 8s linear;
	animation-delay: 5s;
}

.app-heading.bottom-right {
	animation: marquee-third 8s linear;
	animation-delay: 9s;
}

@keyframes marquee-first {
	0% {
		transform: translate(0, 0);
	}
	100% {
		transform: translate(-100%, 0);
	}
}

@keyframes marquee-second {
	0% {
		transform: translate(0, 0);
	}
	100% {
		transform: translate(-100%, 0);
	}
}

@keyframes marquee-third {
	0% {
		transform: translate(0, 0);
	}
	100% {
		transform: translate(-100%, 0);
	}
}

.app-conent {
	margin: 1em;
}
.poem {
	position: absolute;
	width: calc(100vw - 2em);
	bottom: 0;
}

.line {
	font-size: 1.2em;
}
.poem--heading {
	font-weight: normal;
	font-size: 1.6em;
}
.poem--chapter-separator {
	width: 6ch;
	font-weight: normal;
	font-size: 2.6em;
	text-align: center;
	margin: 0 auto 3em;
	color: transparent;
	text-decoration-style: wavy;
	text-decoration-color: #000;
	text-decoration-line: underline;
	text-decoration-thickness: 4px;
	padding-bottom: 10px;
	overflow: hidden;
	white-space: nowrap;
}

/*///////////////////////////////////////////////////////////
//////////////// about section and toggle ///////////////////
///////////////////////////////////////////////////////////*/

.colophon {
	position: fixed;
	bottom: 0;
	right: 0;
	z-index: 9;
}

.visual--caption {
	font-size: 0.8em;
	margin: 0.75em 0 1.5em;
}
.colophon--toggle {
	background: transparent;
	font-size: 1em;
	padding: 0.5em 1em;
	margin: 0.5em 1em;
	border-radius: 1.5em;
	border: 2px solid currentColor;
	z-index: 9999;
	position: absolute;
	bottom: 0.5em;
	right: 0.5em;
	cursor: pointer;
	color: #000;
	font-weight: 600;
}
.colophon--toggle.toggled {
	color: whitesmoke;
	background: rgb(29, 1, 23);
}

.colophon--about {
	display: none;
	background-color: rgb(29, 1, 23);
	color: whitesmoke;
	line-height: 1.4;
	z-index: 10;
	position: inherit;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 100%;
	padding: 1em;
	overflow-y: auto;
}
.project-heading-again {
	margin-top: 0;
	font-weight: 300;
	text-transform: uppercase;
	font-size: 1em;
}

.subsub-title {
	margin: 1.2em 0;
}
.who {
	margin-top: 0;
}
.colophon--about.open {
	display: block;
}

.project-visual {
	margin: 0;
	max-width: 100%;
}

.actual-image {
	max-width: 100%;
}

@media screen and (min-width: 720px) {
	.project-heading-again.main-one {
		min-height: 3em;
	}

	.project-heading-again.sub {
		margin-top: 4em;
	}
	.colophon-what {
		display: flex;
		margin: auto;
		max-width: 1920px;
	}
	.colophon-what > * {
		flex: 1;
	}

	.coophon--content {
		margin-left: 2em;
	}
}

/***********************************************************
** Here we attatch segements from stations to CJC content **
***********************************************************/

/* Csilla */

.line:nth-of-type(22n + 5):after {
	width: 95px;
	height: auto;
	margin: 1em 0 1em 01em;
	padding: 1em;
	float: right;
	content: "Sorry, this seat is reserved";
	display: block;
	border: 2px dotted #000;
}

/* marika */
/* .line:nth-of-type(3):after {
	width: 95px;
	height: 250px;
	margin: 1em 1em 1em 0;
	float: left;
	content: "";
	display: block;
	background-image: url("../images/marika-knot.webp");
	background-repeat: no-repeat;
	overflow: visible;
} */

/* Dakota */

/* .line:nth-of-type(16):after {
	font-size: 2em;
	text-transform: uppercase;
	margin: 1em 0;
	padding: 1em;
	content: "bzzzzzzzz__________zzzzzbzzzzzbzzzzzzzzzzzz_________";
	display: block;
	border: 2px dotted #000;
	word-break: break-all;
} */
